
/* basic elements */


body {
  background-color: #d5d5d5;
}

header {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: bold;
  background-color: #96858F;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

nav {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 10px;
  background-color: #d5d5d5;
}

main {
  font-family: 'Sumana', serif;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
}

a:link {
  color: #96858F;
}

a:visited {
  color: #6D7993;
}

footer {
  font-family: 'Sumana', serif;
  font-size: 12px;
  padding-top: 50px;
  text-align: center;
}

/*specific divs */
.navgrid {
  display: grid;
  width: 600px;
  grid-template-columns: 33% 33% 34%;
  text-align: center;
  margin: auto;
}

.homegrid {
  display: grid;
  width: 800px;
  grid-template-columns: 50% 50%;
  grid-gap: 50px 55px;
  text-align: left;
  margin: auto;
}

.skillsgrid {
  width: 800px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  text-align: center;
  margin: auto;
  grid-gap: 10px 15px;
}

.testgrid {
  width: 800px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 300px 300px 300px 300px 300px;
  text-align: center;
  font-style: italic;
  margin: auto;
}
